:root {
  --color-primary-blue: hsl(233, 26%, 24%);
  --color-primary-green: hsl(136, 65%, 51%);
  --color-primary-cyan: hsl(192, 70%, 51%);
  --color-grey-light-3: hsl(233, 8%, 62%);
  --color-grey-light-2: hsl(220, 16%, 96%);
  --color-grey-light-1: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0,0,0); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.8rem;
  color: var(--color-primary-blue); }

.heading-primary {
  font-family: 'Public Sans', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 3.5rem;
  padding-bottom: 2rem; }
  @media (min-width: 62em) {
    .heading-primary {
      font-size: 4.5rem; } }

.heading-secondary {
  font-weight: 500;
  line-height: 1.3;
  font-size: 2rem;
  padding: 2rem 0; }
  @media (min-width: 62em) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.7rem;
  margin: 2rem 0; }
  @media (min-width: 62em) {
    .heading-tertiary {
      font-size: 2.3rem; } }

.paragraph {
  color: var(--color-grey-light-3);
  font-size: 1.4rem; }
  @media (min-width: 62em) {
    .paragraph {
      font-size: 2rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph-secondary {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  @media (min-width: 62em) {
    .paragraph-secondary {
      font-size: 1.5rem; } }

.main {
  width: 100%;
  overflow: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative;
  z-index: 2; }
  @media (min-width: 62em) {
    .header {
      background-color: var(--color-white);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 62em) {
    .header__logo {
      padding-left: 8rem; } }
  @media (min-width: 62em) {
    .header__button {
      margin-right: 8rem;
      font-size: 1.6rem; } }
  .header__button {
    display: none; }
    @media (min-width: 62em) {
      .header__button {
        display: block; } }

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  padding: 2rem;
  padding-bottom: 8rem;
  background: url(../images/bg-intro-mobile.svg), var(--color-grey-light-1);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top -4rem;
  position: relative; }
  @media (min-width: 62em) {
    .section-about {
      display: flex;
      height: 100vh;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      background: url(../images/bg-intro-desktop.svg), var(--color-grey-light-1);
      background-repeat: no-repeat;
      background-position: left 55rem top -26rem; } }
  .section-about__image--img {
    position: absolute;
    width: 100%;
    top: -13rem;
    right: 0;
    z-index: 1; }
    @media (min-width: 62em) {
      .section-about__image--img {
        width: 55%;
        top: -12rem;
        right: -11rem; } }
  @media (min-width: 62em) {
    .section-about__text {
      flex: 0 0 40%;
      text-align: left;
      padding-left: 8rem; } }

.overlay {
  background: linear-gradient(to bottom, rgba(45, 49, 77, 0.8), rgba(150, 152, 166, 0.8), rgba(250, 250, 250, 0.8)); }

.section-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-grey-light-2);
  padding: 2rem; }
  .section-second__icon {
    width: 10rem;
    height: 10rem;
    padding: 2rem; }
    @media (min-width: 62em) {
      .section-second__icon {
        width: 6rem;
        height: 6rem;
        padding: 0; } }
  @media (min-width: 62em) {
    .section-second {
      align-items: flex-start; } }

.section-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light-1);
  padding: 2rem;
  padding-bottom: 8rem; }
  @media (min-width: 62em) {
    .section-third {
      align-items: flex-start; } }
  .section-third__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-white);
    padding: 2rem;
    margin-top: -1.5rem;
    flex-grow: 0; }
  .section-third__image {
    width: 100%;
    border-radius: 10px; }
    @media (min-width: 62em) {
      .section-third__image {
        height: 25rem; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  text-align: center;
  padding: 4rem; }
  @media (min-width: 62em) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 10rem;
      height: 30vh; } }
  .footer__logo {
    filter: invert(100%) sepia(98%) saturate(10%) hue-rotate(6deg) brightness(104%) contrast(101%); }
  .footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; }
    @media (min-width: 62em) {
      .footer__icons {
        width: 20rem;
        margin-top: 3rem; } }
  .footer__col1 {
    margin: 3rem 0; }
    @media (min-width: 62em) {
      .footer__col1 {
        flex: 0 0 1;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center; } }
  @media (min-width: 62em) {
    .footer__col2 {
      width: 20rem; } }
  @media (min-width: 62em) {
    .footer__col4 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      padding-right: 8rem;
      padding-left: 45rem; } }

.navigation__icon {
  position: fixed;
  z-index: 100;
  top: 2rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  background: transparent;
  cursor: pointer; }
  @media (min-width: 62em) {
    .navigation__icon {
      display: none; } }

.navigation__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  top: 8rem;
  left: 3rem;
  right: 3rem;
  bottom: 0;
  border-radius: 3%;
  transform: translateY(-150%);
  transition: transform 0.2s;
  height: 50vh; }
  @media (min-width: 62em) {
    .navigation__nav {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      transform: translateY(0%);
      top: 0;
      left: 0;
      right: 0;
      height: 6rem;
      width: 2rem; } }

.navigation__list {
  list-style: none; }
  @media (min-width: 62em) {
    .navigation__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }

.navigation__item {
  padding: 1rem;
  margin: auto; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--color-primary-blue); }

.showMenu {
  transform: translateY(0); }

.icon--close {
  display: none; }

.btn {
  width: 15rem;
  height: 4rem;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-green), var(--color-primary-cyan)); }
  @media (min-width: 62em) {
    .btn {
      font-size: 1.6rem; } }

@media (min-width: 62em) {
  .footer-nav {
    display: flex;
    flex-direction: row; } }

.footer-nav__list {
  list-style: none; }
  @media (min-width: 62em) {
    .footer-nav__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

.footer-nav__link:link, .footer-nav__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  color: white; }
  @media (min-width: 62em) {
    .footer-nav__link:link, .footer-nav__link:visited {
      height: 10%;
      display: flex;
      flex-flow: row wrap; } }

@media (min-width: 62em) {
  .section__heading {
    padding-left: 10rem;
    width: 50%;
    text-align: left;
    margin: 3rem 0; } }

@media (min-width: 62em) {
  .section__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 0rem 8rem; } }

@media (min-width: 62em) {
  .section__block {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    text-align: left; } }
