.navigation {
  &__icon {
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    cursor: pointer;

    @media (min-width: $bp-mobile) {
      display: none;
    }
  }

&__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  top: 8rem;
  left: 3rem;
  right: 3rem;
  bottom: 0;
  border-radius: 3%;
  transform: translateY(-150%);
  transition: transform 0.2s;
  height: 50vh;

  @media (min-width: $bp-mobile) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    transform: translateY(0%);
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    width: 2rem;
  }
  }
  
  &__list {
    list-style: none;
    
    @media (min-width: $bp-mobile) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    padding: 1rem;
    margin: auto;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      color: var(--color-primary-blue);
    }
  }
}

.showMenu {
  transform: translateY(0);
}

.icon--close {
  display: none;
}

.btn {
  width: 15rem;
  height: 4rem;
  border: none;
  color: var( --color-white);
  cursor: pointer;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-green), var(--color-primary-cyan));
  
  @media (min-width: $bp-mobile) {
    font-size: 1.6rem;
  }
}

.footer-nav {
  @media (min-width: $bp-mobile) {
    display: flex;
    flex-direction: row;
  }
  &__list {
    list-style: none;
    
    @media (min-width: $bp-mobile) {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }
  }
 
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      color: white;
    
      @media (min-width: $bp-mobile) {
        height: 10%;
        display: flex;
        flex-flow: row wrap;
     }
    }
  }
}

.section {
  &__heading {
    @media (min-width: $bp-mobile) {
      padding-left: 10rem;
      width: 50%;
      text-align: left;
      margin: 3rem 0;
      }
  }
  &__content {
    @media (min-width: $bp-mobile) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: stretch;
      padding: 0rem 8rem;
    }
  }
  &__block {
    @media (min-width: $bp-mobile) {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 30%;
      text-align: left;
    }
  }
}

